In [1]:
import pandas as pd 
data = {'name':['Tom', 'nick', 'krish', 'nick', 'john'],'sex':['male', 'male', 'male', 'male', 'male'], 'comments':[20, 21, 19, 18, 8]} 

df = pd.DataFrame(data)
print(df)

   comments   name   sex
0        20    Tom  male
1        21   nick  male
2        19  krish  male
3        18   nick  male
4         8   john  male

In [2]:
# convert comment to string
df['comments_string'] = df['comments'].astype(str)+'|'
print(df)

   comments   name   sex comments_string
0        20    Tom  male             20|
1        21   nick  male             21|
2        19  krish  male             19|
3        18   nick  male             18|
4         8   john  male              8|

In [3]:
# concanate comment as a long string
df_cat = df.groupby(['name','sex'], as_index=False)['comments_string'].sum()
print(df_cat)

    name   sex comments_string
0    Tom  male             20|
1   john  male              8|
2  krish  male             19|
3   nick  male          21|18|

In [4]:

# show all nicks comments as a list
df_cat[df_cat['name']=='nick']['comments_string'].values[0].split('|')[:-1]

['21', '18']